.hero:where(.astro-DODQM2UL) {
  scroll-snap-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero:where(.astro-DODQM2UL) :where(.astro-DODQM2UL)::selection {
  background-color: var(--main);
}
.hero:where(.astro-DODQM2UL) nav:where(.astro-DODQM2UL) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
  row-gap: 1rem;
  height: 50px;
  align-items: center;
  font-size: 1.6rem;
  color: #39273f;
  font-weight: 200;
  margin-top: 3rem;
}
.hero:where(.astro-DODQM2UL)
  nav:where(.astro-DODQM2UL)
  a:where(.astro-DODQM2UL) {
  color: #fff;
}
.hero:where(.astro-DODQM2UL)
  nav:where(.astro-DODQM2UL)
  a:where(.astro-DODQM2UL):hover {
  text-decoration: underline;
  color: #e1e1e1;
}
.hero:where(.astro-DODQM2UL) .background-wrapper:where(.astro-DODQM2UL) {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  z-index: -1;
}
.hero:where(.astro-DODQM2UL) .background-wrapper:where(.astro-DODQM2UL):after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--heropink);
  position: absolute;
}
.hero:where(.astro-DODQM2UL)
  .background-wrapper:where(.astro-DODQM2UL)
  .img:where(.astro-DODQM2UL) {
  width: 500px;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
// test
.hero:where(.astro-DODQM2UL)
  .background-wrapper:where(.astro-DODQM2UL)
  .img:where(.astro-DODQM2UL).img-1 {
  background-image: url('../images/img1.jfif');
}
.hero:where(.astro-DODQM2UL)
  .background-wrapper:where(.astro-DODQM2UL)
  .img:where(.astro-DODQM2UL).img-2 {
  background-image: url('../images/img2.jfif');
}
.hero:where(.astro-DODQM2UL)
  .background-wrapper:where(.astro-DODQM2UL)
  .img:where(.astro-DODQM2UL).img-3 {
  background-image: url('../images/img3.jfif');
}
.hero:where(.astro-DODQM2UL)
  .background-wrapper:where(.astro-DODQM2UL)
  .img:where(.astro-DODQM2UL).img-4 {
  background-image: url('../images/img4.jfif');
}
.hero:where(.astro-DODQM2UL) .message:where(.astro-DODQM2UL) {
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: 50%;
  margin-left: 9rem;
}
.hero:where(.astro-DODQM2UL)
  .message:where(.astro-DODQM2UL)
  h1:where(.astro-DODQM2UL) {
  font-size: 2.2rem;
}
.hero:where(.astro-DODQM2UL) .calltoaction-wrapper:where(.astro-DODQM2UL) {
  position: absolute;
  bottom: 4rem;
  justify-self: center;
  align-self: center;
}
.hero:where(.astro-DODQM2UL)
  .calltoaction-wrapper:where(.astro-DODQM2UL)
  .calltoaction:where(.astro-DODQM2UL) {
  margin: 0 auto;
  padding: 0.8rem 2.5rem;
  font-size: 1.6rem;
  border-radius: 100vmax;
  bottom: 5rem;
  border: none;
  background-color: var(--buttonpink);
}
.hero:where(.astro-DODQM2UL)
  .calltoaction-wrapper:where(.astro-DODQM2UL)
  .calltoaction:where(.astro-DODQM2UL)
  a:where(.astro-DODQM2UL) {
  text-decoration: none;
  font-weight: 200;
  color: var(--textpink);
}
.hero:where(.astro-DODQM2UL)
  .calltoaction-wrapper:where(.astro-DODQM2UL)
  .calltoaction:where(.astro-DODQM2UL)
  a:where(.astro-DODQM2UL)::selection {
  color: #fff;
}
@media (max-width: 600px) {
  .hero {
    scroll-snap-align: none;
  }
  .hero:where(.astro-DODQM2UL) .background-wrapper:where(.astro-DODQM2UL) {
    flex-direction: column;
  }
  .hero:where(.astro-DODQM2UL)
    .background-wrapper:where(.astro-DODQM2UL)
    .img:where(.astro-DODQM2UL) {
    width: 100%;
    height: 25vh;
  }
  .hero:where(.astro-DODQM2UL) .message:where(.astro-DODQM2UL) {
    margin: 0 1rem;
  }
  .whoami {
    scroll-snap-align: none;
  }
}
.whoami:where(.astro-3CYYWJUL) {
  scroll-snap-align: start;
}
@media (max-width: 600px) {
  .whoami:where(.astro-3CYYWJUL) {
    scroll-snap-align: none;
  }
}
.whoami:where(.astro-3CYYWJUL) .container:where(.astro-3CYYWJUL) {
  padding: 2rem;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 3rem;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  :where(.astro-3CYYWJUL)::selection {
  background-color: #721d46;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .text-content:where(.astro-3CYYWJUL) {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  flex: 1 1 300px;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .text-content:where(.astro-3CYYWJUL)
  .text-wrapper:where(.astro-3CYYWJUL) {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: flex-start;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .text-content:where(.astro-3CYYWJUL)
  .text-wrapper:where(.astro-3CYYWJUL)
  h2:where(.astro-3CYYWJUL) {
  width: 100%;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--purplemain);
  text-transform: capitalize;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .text-content:where(.astro-3CYYWJUL)
  .text-wrapper:where(.astro-3CYYWJUL)
  h2:where(.astro-3CYYWJUL)::selection {
  background-color: #fff;
  font-weight: 300;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .text-content:where(.astro-3CYYWJUL)
  .text-wrapper:where(.astro-3CYYWJUL)
  p:where(.astro-3CYYWJUL) {
  font-size: 1.5rem;
  color: #e7e7e7;
  max-width: 450px;
  font-weight: 200;
  line-height: 1.8rem;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .image-wrapper:where(.astro-3CYYWJUL) {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .image-wrapper:where(.astro-3CYYWJUL)
  .avatar:where(.astro-3CYYWJUL) {
  display: flex;
  max-width: 450px;
}
.whoami:where(.astro-3CYYWJUL)
  .container:where(.astro-3CYYWJUL)
  .image-wrapper:where(.astro-3CYYWJUL)
  .avatar:where(.astro-3CYYWJUL)
  img:where(.astro-3CYYWJUL) {
  width: 100%;
}
.cases:where(.astro-OPBSL5YL) {
  scroll-snap-align: center;
}
.cases:where(.astro-OPBSL5YL) :where(.astro-OPBSL5YL)::selection {
  background-color: #fff;
  color: #721d46;
}
.cases:where(.astro-OPBSL5YL) .container:where(.astro-OPBSL5YL) {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  overflow: hidden;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL) {
  display: flex;
  width: 100%;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .showcases:where(.astro-OPBSL5YL) {
  min-height: 100vh;
  width: 100%;
  right: 0;
  height: 50px;
  background-image: url('../images/showcase/deepeyes.jpg');
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px) sepia(50%);
  transition: 50ms ease-out;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .img-wrapper:where(.astro-OPBSL5YL) {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: absolute;
  transition: 50ms ease-out;
  display: flex;
  outline: purple 1px solid;
  justify-content: center;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .img-wrapper:where(.astro-OPBSL5YL)
  img:where(.astro-OPBSL5YL) {
  transition: 50ms ease-out;
  height: 100%;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .img-wrapper:where(.astro-OPBSL5YL)
  .sub:where(.astro-OPBSL5YL) {
  color: #c8c8c8;
  transform: rotate(90deg);
  position: absolute;
  top: 33%;
  right: 2rem;
  font-weight: 900;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL) {
  transition: 50ms ease-out;
  min-height: 100vh;
  z-index: 2;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL) {
  transition: 50ms ease-out;
  display: flex;
  flex-direction: column;
  background-color: var(--purplemain);
  width: 7rem;
  min-height: 100vh;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL)
  li:where(.astro-OPBSL5YL).selected
  button:where(.astro-OPBSL5YL) {
  height: 5.5rem;
  width: 12.5rem;
  color: #fff;
  max-width: initial;
  background-color: var(--secondpurple);
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL)
  li:where(.astro-OPBSL5YL).selected
  button:where(.astro-OPBSL5YL)
  span:where(.astro-OPBSL5YL) {
  font-weight: 400;
  font-size: 2rem;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL)
  li:where(.astro-OPBSL5YL)
  button:where(.astro-OPBSL5YL) {
  transition: 50ms ease-out;
  padding: 1rem;
  min-width: 7rem;
  background-color: transparent;
  border: none;
  color: #d1d1d1;
  height: 5.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 120px;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL)
  li:where(.astro-OPBSL5YL)
  button:where(.astro-OPBSL5YL)
  span:where(.astro-OPBSL5YL) {
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1.5rem;
}
.cases:where(.astro-OPBSL5YL)
  .container:where(.astro-OPBSL5YL)
  .content:where(.astro-OPBSL5YL)
  .menu:where(.astro-OPBSL5YL)
  ul:where(.astro-OPBSL5YL)
  li:where(.astro-OPBSL5YL)
  button:where(.astro-OPBSL5YL)
  span:where(.astro-OPBSL5YL):hover {
  text-decoration: underline;
}
@media (max-width: 450px) {
  .cases {
    scroll-snap-align: none;
  }
  .cases:where(.astro-OPBSL5YL) .container:where(.astro-OPBSL5YL) {
    background-color: #00000052;
    max-width: 100%;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL) {
    overflow-y: scroll;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .menu:where(.astro-OPBSL5YL)
    ul:where(.astro-OPBSL5YL) {
    background-color: #0000005a;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .menu:where(.astro-OPBSL5YL)
    ul:where(.astro-OPBSL5YL)
    li:where(.astro-OPBSL5YL) {
    width: max-content;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .menu:where(.astro-OPBSL5YL)
    ul:where(.astro-OPBSL5YL)
    li:where(.astro-OPBSL5YL).selected
    button:where(.astro-OPBSL5YL) {
    background-color: var(--purplemain);
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .menu:where(.astro-OPBSL5YL)
    ul:where(.astro-OPBSL5YL)
    li:where(.astro-OPBSL5YL)
    .button:where(.astro-OPBSL5YL) {
    background-color: #9d852d00;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .showcases:where(.astro-OPBSL5YL) {
    filter: none;
    position: absolute;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .img-wrapper:where(.astro-OPBSL5YL) {
    flex: 1 1 1;
  }
  .cases:where(.astro-OPBSL5YL)
    .container:where(.astro-OPBSL5YL)
    .content:where(.astro-OPBSL5YL)
    .img-wrapper:where(.astro-OPBSL5YL)
    img:where(.astro-OPBSL5YL) {
    display: none;
    max-width: 100%;
    height: auto;
  }
}
.form-wrapper {
  scroll-snap-align: start;
  min-height: 100vh;
  flex: 2.5 1 350px;
  display: flex;
  justify-content: center;
  background-color: #000;
  z-index: 5;
  padding: 0 2rem;
}
.form-wrapper *::selection {
  background-color: #fff;
  color: #721d46;
}
.form-wrapper form {
  flex: 1 1 500px;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  z-index: 10;
}
.form-wrapper form .title h3 {
  color: #721d46;
  font-size: 3rem;
  font-weight: 700;
}
.form-wrapper form .title h3::selection {
  background-color: #721d46;
  color: #fff;
}
.form-wrapper form .inputs {
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 1.1rem;
  display: flex;
}
.form-wrapper form .inputs .input-container label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.8rem;
}
.form-wrapper form .inputs .input-container label span {
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
}
.form-wrapper form .inputs .input-container label .input-field {
  box-shadow: 0 0 10px #ffffff41;
  background-color: #616161;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  border-radius: 100vmax;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}
.form-wrapper form .inputs .input-container label .input-field::selection {
  background-color: #721d46;
  color: #fff;
}
.form-wrapper form .inputs .input-container label .input-field:focus,
.form-wrapper form .inputs .input-container label .input-field:focus-visible,
.form-wrapper form .inputs .input-container label .input-field:focus-within {
  outline: none;
  transform: scaleX(1.01);
}
.form-wrapper form .inputs .input-container label .input-field::placeholder {
  color: #a1a1a1;
  font-size: 0.9rem;
}
.form-wrapper form .inputs .input-container label .textarea {
  border-radius: 20px;
  resize: vertical;
  height: 110px;
  max-height: 150px;
  min-height: 50px;
}
.form-wrapper form .inputs .input-container label .textarea::placeholder {
  color: #a1a1a1;
  font-size: 0.9rem;
}
.form-wrapper form .inputs .submit {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #721d46;
  color: #a1a1a1;
  margin: 0 auto;
}
.form-wrapper form .inputs .submit:hover {
  background-color: #511230;
  cursor: pointer;
}
@media (max-width: 750px) {
  .form-wrapper {
    background-color: #000;
    scroll-snap-align: none;
  }
  .form-wrapper form .title h3 {
    color: #9b1d5a;
  }
  .form-wrapper form .inputs .submit {
    background-color: #89174e;
  }
}
.contact:where(.astro-7SJL2WJ7) {
  scroll-snap-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.contact:where(.astro-7SJL2WJ7) .container:where(.astro-7SJL2WJ7) {
  display: flex;
  flex-wrap: wrap;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7) {
  scroll-snap-align: center;
  background-color: #000;
  flex: 1 1 400px;
  min-height: 100vh;
  background-image: url('../images/form/cont.jfif');
  background-position: center;
  background-size: cover;
  position: relative;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  :where(.astro-7SJL2WJ7)::selection {
  background-color: #84184c;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7):after {
  content: '';
  background-color: #0008169c;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 5rem #00000090 inset;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7) {
  z-index: 100;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .header:where(.astro-7SJL2WJ7)
  h4:where(.astro-7SJL2WJ7) {
  font-size: 1.7rem;
  font-weight: 600;
  color: #d8d8d8;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .header:where(.astro-7SJL2WJ7)
  h4:where(.astro-7SJL2WJ7)::selection {
  color: #861b4f;
  background-color: #fff;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .sub:where(.astro-7SJL2WJ7)
  p:where(.astro-7SJL2WJ7) {
  font-weight: 100;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .infos:where(.astro-7SJL2WJ7) {
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .infos:where(.astro-7SJL2WJ7)
  .info:where(.astro-7SJL2WJ7) {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .infos:where(.astro-7SJL2WJ7)
  .info:where(.astro-7SJL2WJ7)
  .title:where(.astro-7SJL2WJ7) {
  font-weight: 200;
  font-size: 0.9rem;
  color: #c6c6c6;
}
.contact:where(.astro-7SJL2WJ7)
  .container:where(.astro-7SJL2WJ7)
  .card:where(.astro-7SJL2WJ7)
  .info-container:where(.astro-7SJL2WJ7)
  .infos:where(.astro-7SJL2WJ7)
  .info:where(.astro-7SJL2WJ7)
  div:where(.astro-7SJL2WJ7)
  span:where(.astro-7SJL2WJ7) {
  color: #d8d8d8;
}
@media (max-width: 750px) {
  .contact {
    scroll-snap-align: none;
  }
  .contact:where(.astro-7SJL2WJ7) {
    scroll-snap-align: none;
  }
  .contact:where(.astro-7SJL2WJ7)
    .container:where(.astro-7SJL2WJ7)
    .card:where(.astro-7SJL2WJ7) {
    scroll-snap-align: none;
    width: 100vw;
    height: 100vh;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
  }
  .contact:where(.astro-7SJL2WJ7)
    .container:where(.astro-7SJL2WJ7)
    .card:where(.astro-7SJL2WJ7):after {
    background-color: #000816bf;
  }
}
.media {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.media a {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 0.4rem;
  align-items: center;
}
.media a span {
  font-size: 0.8rem;
  font-weight: 100;
}
.media a .icon {
  cursor: pointer;
}
.media a .icon:hover {
  color: silver;
}
.bar:where(.astro-WEVEDUAP) {
  width: 100%;
  padding: 2rem;
  background-color: #000;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: silver;
  font-weight: 100;
}

.bar:where(.astro-WEVEDUAP) .text:where(.astro-WEVEDUAP)::selection {
  background-color: #721d46;
  color: #fff;
}

.bar:where(.astro-WEVEDUAP).has-text {
  scroll-snap-align: center;
  padding-top: 5rem;
  flex-direction: column;
  row-gap: 3rem;
}

@media (max-width: 600px) {
  .bar:where(.astro-WEVEDUAP).has-text {
    scroll-snap-align: none;
  }
}

.bar:where(.astro-WEVEDUAP).has-text span:where(.astro-WEVEDUAP)::selection {
  background-color: #721d46;
  color: #fff;
}
